*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-rows: 200px auto 75 px;
    width: 750px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header__title {
    padding: 10px;
}
.header__subtitle{
    padding: 10px;
}
.header__nav{
    align-self: stretch;
    padding: 10px;
}
.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

img{  
    vertical-align: middle;
    width: 300px;
}

article{
    padding: 10px;
}

section{
    padding: 10px;
}

.about__title{
    padding: 5px;
}

.projects__title{
    padding: 10px;
}

.contacts__title{
    padding: 5px;
}

p{
    padding: 5px;
}

